html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #68e3f8, #fdc4ff, #95eea8, #f37373, #006494);
}
.login_div{
background: #fdc4ff;float: none; border-radius:  15px; 
padding-top: 40px;
padding-bottom: 40px;
}
img{
    width: 70px;
    border-radius: 35px;
}
#user_name{

    width: 50%;
}
h1{
    font-family: 'Lobster', cursive;
}

#login_button
{
	width: 80%;border-radius: 15px;
	color: whitesmoke;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
	color:black; 
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:rgb(241, 61, 61);
}